<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Your Client ID as defined on https://apps.dev.microsoft.com/ -->
    <!-- <add key="clientid" value="MyGrooveClientId" /> -->
    <!-- Your Client Secret as defined on https://apps.dev.microsoft.com/#/application/[replace with client id] -->
    <!-- <add key="clientsecret" value="MyGrooveClientSecret" />-->
    <!-- Your user authentication token. Note that these expire every few hours. -->
    <!-- <add key="userAuthorizationHeader" value="Bearer ..." /> -->
  </appSettings>
</configuration>